@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  background-color: black;
}
.container {
  height: 300px;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 10px #df7861;
}
.container,
input,
.btn1,
.btn2 {
  border-radius: 10px;
}
.header {
  background-color: #df7861;
  height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #ffff;
  padding-top: 40px;
}
.input,
.header,
input,
.buttons {
  text-align: center;
}
input {
  background-color: #ffff;
  height: 45px;
  width: 300px;
  border-width: 0;
  font-size: 18px;
  outline: none;
  border: none;
}
input,
.btn1,
.btn2 {
  color: #df7861;
}
.buttons,
input {
  margin-top: 40px;
}
.btn1,
.btn2 {
  height: 40px;
  width: 200px;
  cursor: pointer;
}
@media only screen and (max-width: 425px) {
  html,
  body {
    overflow-x: hidden !important;
    width: 100% !important;
  }
  .container {
    width: 350px;
    height: 350px;
  }
}
